<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties">
        </property>
    </bean>

    <bean id="datas" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>
        <property name="username" value="scott"></property>
        <property name="password" value="123456"></property>
        <property name="initialSize" value="10"></property>
        <property name="maxActive" value="50"></property>
        <property name="minIdle" value="5"></property>
        <property name="maxWait" value="60000"></property>
    </bean>

</beans>